<mat-sidenav-container>
  <mat-sidenav opened mode="side" #sideNav>

    <div class="side-nav-items-container">
      <div class="side-menu">
        <span class="text-menu">Menu</span>
        <mat-icon mat-button (click)="sideNav.close()">close</mat-icon>
      </div>

      <button class="side-button" routerLink="/poll">
        <span class="text">Dołącz do ankiety</span>
        <mat-icon mat-button>touch_app</mat-icon>
      </button>

      <button class="side-button" routerLink="/create-poll">
        <span class="text">Utwórz ankietę</span>
        <mat-icon mat-button>create</mat-icon>
      </button>
     
      <button class="side-button" routerLink="/poll-history">
        <span class="text">Przejrzyj wypełnione</span>
        <mat-icon mat-button>pageview</mat-icon>
      </button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content> <router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>