<mat-accordion>
  <div class="card-polls">
    <mat-expansion-panel *ngFor="let poll of polls" class="poll">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ poll.ballotName }} </mat-panel-title>

        <mat-panel-description>
          {{ poll.ballotDescription }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-chart [poll]="poll"></app-chart>
      </ng-template>
    </mat-expansion-panel>
  </div>
</mat-accordion>
