.full-width {
    width: 40vw;
    margin-bottom: 10px;
}

.login-card {
    background-color: #ffffff;
    width: 40vw;
    height: auto;
    min-width: 120px;
    margin: 70px auto;
    box-shadow: 7px 7px 7px 7px rgb(211, 234, 243);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    display: flex;
    justify-content: center;
}

.col:last-child {
    margin-right: 0;
}

.buttons {
    display: flex;
    align-content: stretch;
    align-self: center;
    gap: 1vw;
    justify-content: center;
}

button {
    align-self: center;
    font-size: 1.5vw;
}

h1.title {
    text-align: center;
    font-size: 30px;
}

.edit-button {
    background-color: #d4ade2;
    align-self: center;
    font-size: large;
    width: 200px;

}

.mat-raised-button {
    margin: 0;
}

@media (max-width: 930px) {
    .login-card {
        width: 45vw;
        min-width: 120px;
    }

    .full-width {
        width: 45vw;
    }
}