<div class="login-form" *ngIf="isReady">
  <mat-card class="login-card">
    <h1 class="title">Profil Użytkownika</h1>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <div class="full-width">
            Imie użytkownika: <strong> {{ user!.firstName }} </strong><br />
            Nazwisko: <strong> {{ user!.lastName }} </strong><br />
            E-Mail: <strong> {{ user!.email }} </strong><br />
            Nazwa użytkownika: <strong> {{ user!.username }} </strong><br />
            PESEL: <strong> {{ user!.pesel }} </strong><br />
          </div>
        </div>
      </div>
      <div class="row">
        <!--    <div class="col">
          <button mat-raised-button class="edit-button">Edytuj Dane</button>
        </div> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
