
  <mat-card class="main">
  <mat-card-header>
    <mat-card-title class="header">Utwórz ankietę </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-card-title> Nazwa:
      <input matInput class="poll-input">
    </mat-card-title>

    <mat-card-title> Opis ankiety:
      <span class='poll-input description-input' role="textbox" contenteditable> </span>
    </mat-card-title>

    <div class="btn-right-display" >
      <button routerLink="/poll-view" class="btn-add-question">UTWÓRZ</button>
    </div>
  </mat-card-content>
</mat-card>





<!-- <b
*ngFor="let n of numSequence(numberOfQuestions)">
       <p><app-login></app-login></p></b> -->
