<div class="register-form">
    <form [formGroup]="changePasswordForm">
      <mat-card class="register-card">
        <h1 class="title">Zmiana Hasła</h1>
        <mat-card-content>
  
  
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Hasło"
                  type="password"
                  formControlName="password"
                  ngModel
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                />
                <!-- duza litera, cyfra, minimum 8  -->
                <mat-error
                  *ngIf="changePasswordForm.controls['password'].hasError('pattern')"
                >
                  Hasło jest <strong>wymagane</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Powtórz hasło"
                  type="password"
                  formControlName="reenterPassword"
                  ngModel
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                />
                <!-- duza litera, cyfra, minimum 8  -->
                <mat-error
                  *ngIf="changePasswordForm.controls['reenterPassword'].hasError('passwordsDoNotMatch')"
                >
                  Hasła <strong>różnią się</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div class="buttons">
            <div>
              <button
                mat-button
                class="register-button"
                (click)="recoverPassword()"
              >
                Zmień Hasło
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  